@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #304fff;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
} */

:root {
  --background: #dad7cd; /* Base | Light | Background */
  --foreground: #533737;  /* Base | Light | Subtle Text */
  --primary: #5F794F; /* Accent | Light | Background */
  --secondary: #533737;

  --base-dark-text: #fdfcfc; /* Base | Dark | 12 - Text */
  --accent-text: #eeecf9; /* Accent | Light | 12 - Text */
  --border: #cbc7b9; /* Made Up? */

  --link-text: #5F794F;
  --link-hover: #7c9c68;

  --primary-accent: #7c9c68; /* Accent | Light | 5 - Active UI Background */
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}